@inject IHttpClientFactory httpClientFactory

<div class="order-container">
    <div class="product-info">
        <div class="product-image">
            <img src="@ImageUrl" alt="selected product" />
        </div>
        <div class="product-details">
            <p class="product-name">@ProductName</p>
            <p class="artist-name">@ArtistName</p>
            <p class="product-price">@Price AZN</p>
        </div>
    </div>
    <div class="title">Sifariş Formu</div>
    <div class="description">
        Sizin sifarişinizi sənətkara çatdırmağımız üçün, zəhmət olmasa,
        aşağıdakı məlumatları doldurun.
    </div>
    <form action="/order-page">
        <label for="customer-name">Ad Soyad</label>
        <input @bind-value="@order.FullName" type="text" name="" id="customer-name" placeholder="Adınızı və Soyadınızı daxil edin" />

        <label for="customer-contact">Əlaqə Nömrəsi</label>
        <input @bind-value="@order.PhoneNumber" type="text" name="" id="customer-contact" placeholder="+994-000-000-00-00" />

        <label for="customer-email">Email Ünvanı</label>
        <input @bind-value="@order.Email" type="email" name="" id="customer-email" placeholder="nümunə@mail.com" />

        <label for="customer-note">Əlavə Qeyd</label>
        <input @bind-value="@order.AdditionalInformation" type="text" name="" id="customer-note" placeholder="Sifarişlə Bağlı xüsusi qeydiniz varsa qeyd edin" />
        <button @onclick="OrderAsync" type="button" class="order-btn">Təsdiqlə</button>
    </form>
</div>

@code {
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;

    [Parameter]
    public string? ImageUrl { get; set; }

    [Parameter]
    public string? ProductName { get; set; }

    [Parameter]
    public int? ProductId { get; set; }

    [Parameter]
    public string? ArtistName { get; set; }

    [Parameter]
    public int? Price { get; set; }
    
    public Order order = new ();

    public async Task OrderAsync()
    {
        order.ProductId = ProductId;

        var httpClient = httpClientFactory.CreateClient("Miras");

        var response = await httpClient.PostAsJsonAsync<Order>($"api/Product/Order", order);

        var content = await response.Content.ReadAsStringAsync();

        if (!response.IsSuccessStatusCode)
        {
            throw new ApplicationException(content);
        }

        await BlazoredModal.CloseAsync();
    }
}