<div class="card item">
    <div class="info">
        <div class="name">@Name</div>

        <div class="major">@Major</div>

        <p>@Information</p>

        @if (!string.IsNullOrWhiteSpace(InstagramUrl) || !string.IsNullOrWhiteSpace(FacebookUrl))
        {
            <p>Sosial media hesablari:
                @if (!string.IsNullOrWhiteSpace(InstagramUrl))
                {
                    <a href="@InstagramUrl">@InstagramUrl</a>
                }

                @if (!string.IsNullOrWhiteSpace(FacebookUrl))
                {
                    <a href="@FacebookUrl">@FacebookUrl</a>
                }
            </p>
        }

        @if (!string.IsNullOrWhiteSpace(PhoneNumber))
        {
            <p>Telefon nümrəsi: @PhoneNumber</p>
        }
    </div>

    @if (string.IsNullOrWhiteSpace(ImageUrl))
    {
        <img src="/Images/default-profile.png" alt="Artist's photo" />
    }
    else
    {
        <img src="@ImageUrl" alt="Artist's photo" />
    }
</div>

@code {
    [Parameter]
    public string? Name { get; set; }

    [Parameter]
    public string? Major { get; set; }

    [Parameter]
    public string? Information { get; set; }

    [Parameter]
    public string? ImageUrl { get; set; }

    [Parameter]
    public string? InstagramUrl { get; set; }

    [Parameter]
    public string? FacebookUrl { get; set; }

    [Parameter]
    public string? PhoneNumber { get; set; }
}