<HeadContent>
    <meta Name="keywords" Content="@Keywords"/>
    
    <title>@GetTitle()</title>

    <meta name="robots" content="index, follow">
    
    <meta name="author" content="@Author">

    <meta Property="og:title" Content="@GetTitle()"/>

    <meta Name="description" Content="@GetSubTitle()"/>

    <meta Property="og:description" Content="@GetSubTitle()"/>
</HeadContent>

@code {
    [Parameter] public string? Title { get; set; }

    [Parameter] public string? Overview { get; set; }

    [Parameter] public string? Author { get; set; }

    [Parameter] public string Keywords { get; set; }

    string GetTitle() => Title ?? "Legacy";

    string GetSubTitle()
    {
        if (string.IsNullOrEmpty(Overview))
        {
            return string.Empty;
        }

        return Overview.TrimEnd('.') + ".";
    }
}