<div class="values">
    <h2>@Resources.values</h2>

    <div class="value">
        <p>
            <b>@Resources.inclusivity:</b> @Resources.inclusivityDescription
            <br>
            <br>
            <b>@Resources.solidarity:</b> @Resources.solidarityDescription
        </p>

        <img src="/Images/About/first-value.png" />
    </div>

    <div class="value">
        <img src="/Images/About/second-value.png" />

        <p style="padding-left: 5rem; padding-right: 0;">
            <b>@Resources.support:</b> @Resources.supportDescription
            <br>
            <br>
            <b>@Resources.trust:</b> @Resources.trustDecription
        </p>
    </div>

    <div class="value">
        <p>
            <b>@Resources.transparency:</b> @Resources.transparencyDecription
            <br>
            <br>
            <b>@Resources.responsibility:</b> @Resources.responsibilityDescription
        </p>

        <img src="/Images/About/third-value.png" />
    </div>
</div>